.jumbo{
  min-height: 80vh;
}

/* .jumbo .title{
  font-family: raleway, sans-serif;
  font-size: 32pt;
  font-weight: 900;
  color:#20244C;
} */

.jumbo.generic {
  /* background-color:#F1B037; */
  background-color:#ccc;
}
.jumbo_small {
  /* background-color:#F1B037; */
  min-height: 40vh;
  background-color:#20244C;
}
